@use 'abstracts' as *;

nav {
  @include flex-config($justify: space-between, $align: center);
  height: 10vh;
  padding: 4rem 10rem;

  @include respond(big-desktop) {
    padding: 4rem 15rem;
  }

  @include respond(tab-port) {
    padding: 4rem 2rem;
  }

  @include respond(phone) {
    padding: 1.5rem;
  }

  @include respond(fold) {
    padding: 1rem;
  }

  a {
    color: inherit;
  }
}

.logo {
  &__heading {
    font-size: clamp(1.2rem, 0.8vw, 4rem);
    text-transform: uppercase;
    letter-spacing: 0.2rem;

    @include respond(phone) {
      letter-spacing: 0.1rem;
    }

    @include respond(fold) {
      letter-spacing: 0;
    }
  }

  &__subheading {
    font-size: clamp(1.2rem, 0.6vw, 2.5rem);
    text-align: center;
    font-style: italic;
  }
}

/*slider switch css */
.theme-switch-wrapper {
  @include flex-config($direction: column, $align: center);

  &__paragraph {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
}

.theme-switch {
  display: inline-block;
  position: relative;
  width: 6rem;
  height: 3.4rem;

  @include respond(phone) {
    width: 5.5rem;
    height: 2.5rem;
  }

  &__input {
    display: none;

    &:checked + {
      .slider {
        background-color: #66bb6a;

        &::before {
          transform: translateX(2.6rem);
        }
      }
    }
  }
}

.slider {
  @include position($pos: absolute, $top: 0, $right: 0, $bottom: 0, $left: 0);
  background-color: #ccc;
  cursor: pointer;
  transition: 0.4s;

  &::before {
    @include pseudo($bottom: 0.4rem, $left: 0.4rem);
    width: 2.6rem;
    height: 2.6rem;
    background-color: #fff;
    transition: 0.4s;

    @include respond(phone) {
      width: 2rem;
      height: 2rem;
      bottom: 0.3rem;
    }
  }
}

.slider.round {
  border-radius: 3.4rem;

  &::before {
    border-radius: 50%;
  }
}

.nav-links {
  @include flex-config($justify: space-around);
  @include textUppercaseSpacing($letterSpacing: 0.2rem);
  width: 50%;
  font-size: clamp(1.5rem, 0.9vw, 5rem);
  animation: fade 0.4s ease;

  @include respond(tab-port) {
    @include flex-config(
      $direction: column,
      $justify: space-evenly,
      $align: center
    );

    @include position($pos: fixed, $top: 0, $left: 0);
    background: var(--mobile-nav-background);
    height: 100vh;
    width: 100vw;
    z-index: 5;
    display: none;
  }

  a {
    display: inline-block;
    position: relative;

    &::before {
      @include pseudo($bottom: -30%, $left: 0);
      width: 0;
      border: 2px solid var(--foreground);
      transition: all 0.5s ease;
      opacity: 0;
    }

    &:hover {
      background: var(--gradient-nav-links);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;

      &::before {
        opacity: 1;
        width: 3.5rem;
      }
    }

    @include respond(tab-port) {
      color: var(--clr-secondary);
    }
  }
}

.hamburger {
  z-index: 20;

  @include respond(tab-port) {
    cursor: pointer;
  }

  @include respond(phone) {
    top: 5%;
  }

  &__line {
    @include respond(tab-port) {
      background: var(--hamburger);
      width: 3rem;
      height: 0.3rem;
      margin: 0.5rem;
    }
  }
}

.open {
  display: flex;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
