@use 'abstracts' as *;

.about-me {
  @include flex-config($display: flex, $justify: space-around, $align: center);
  margin: 30rem auto 20rem auto;

  @include respond(tab-port) {
    flex-direction: column;
    margin: 10rem auto 0 auto;
  }
}

.img-container {
  width: 15%;
  position: relative;

  @include respond(tab-land) {
    margin-top: 5rem;
  }

  @include respond(phone) {
    width: 30%;
  }

  &::before {
    @include pseudo($top: -50%, $left: -10%);
    width: 150%;
    height: 150%;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border-radius: 50%;
    z-index: -2;
  }

  &::after {
    @include pseudo($top: -20%, $left: 0);
    width: 130%;
    height: 130%;
    background-image: linear-gradient(
      to top,
      #505285 0%,
      #585e92 12%,
      #65689f 25%,
      #7474b0 37%,
      #7e7ebb 50%,
      #8389c7 62%,
      #9795d4 75%,
      #a2a1dc 87%,
      #b5aee4 100%
    );
    border-radius: 50%;
    z-index: -1;
  }

  &__img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }
}

.about-me-info {
  width: 50%;

  @include respond(tab-port) {
    width: 80%;
  }
}

.section-tech {
  padding: 10rem 0 30rem 0;
}

.container-tech {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 5rem;
  padding: 0 10rem;

  @include respond(tab-land) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include respond(tab-port) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(phone) {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 3rem;
  }
}

.tech-icons-container {
  @include flex-config(
    $display: flex,
    $direction: column,
    $align: center,
    $justify: space-around
  );
  box-shadow: 6px 2px 18px 5px rgba(0, 0, 0, 0.1);
  padding: 6rem;

  &__icon {
    @include icons;
    font-size: clamp(3rem, 2vw, 5rem);
  }

  &__paragraph {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    text-align: center;
    font-weight: 700;
  }
}
