@use 'abstracts' as *;

body {
  background-color: var(--background);
  color: var(--foreground);
}

.darkmode {
  --foreground: var(--clr-light);
  --background: var(--clr-dark);

  --gradient-nav-links: var(--clr-gradient-links-dark);
  --hamburger: var(--clr-light);
  --cta-clr: var(--clr-dark);
  --cta-background: var(--cta-gradient-light);
  --pseudo-el-gradient-bottom: var(--pseudo-el-clr-light-bottom);
  --pseudo-el-gradient-right: var(--pseudo-el-clr-light-right);
  --swiper-nav-clr: var(--clr-tertiary);
  --box-shadow: var(--box-shadow-light);
  --social-icons: var(--clr-tertiary);
}
