@use 'abstracts' as *;

body {
  background-color: var(--background);
  color: var(--foreground);
}

.darkmode {
  --foreground: var(--clr-light);
  --background: var(--clr-dark);

  --gradient-nav-links: var(--clr-gradient-links-dark);
  --hamburger: var(--clr-light);
  --cta-clr: var(--clr-dark);
  --cta-background: var(--cta-gradient-light);
  --pseudo-el-gradient: var(--pseudo-el-clr-light);
}
