@use 'abstracts' as *;
@use 'utilities' as *;

body {
  position: relative;
  overflow: hidden;
}

main {
  display: grid;
  min-height: 90vh;
  grid-template-columns: 2fr, 1fr;
  grid-template-areas: 'cont-left cont-left cont-right';

  @include respond(tab-port) {
    grid-template-areas: 'cont-left';
  }
}

.container-left {
  grid-area: cont-left;
  min-height: 90vh;
  @include flex-config($display: flex, $align: center);
}

.welcome-section {
  position: relative;
  margin-top: -10rem;

  a {
    color: $color-secondary;
  }

  &__cta {
    display: inline-block;
    font-size: clamp(1.2rem, 2vw, 2rem);
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(56, 55, 79, 1) 100%,
      rgba(194, 194, 194, 1) 100%
    );
    transition: 0.2s ease;
    margin-top: 2rem;
    padding: 2rem 4rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    border-radius: 3%;
    cursor: pointer;

    &:hover {
      filter: drop-shadow(0.5rem 0.5rem 0.6rem rgb(184, 183, 183));
      background-color: #000000;
    }
  }

  .social-icons {
    @include position($pos: absolute, $bottom: 0, $right: 0);
    @include flex-config(
      $display: flex,
      $direction: column,
      $justify: flex-end,
      $align: center
    );
    width: 30%;
    height: 50%;
    padding: 0 1.5rem;

    @include respond(tab-port) {
      flex-direction: row;
    }

    &__icon {
      font-size: clamp(2rem, 2vw, 3rem);
      margin-top: 2rem;
      cursor: pointer;

      &:not(:last-of-type) {
        margin-bottom: 2rem;
      }

      &--linkedin {
        color: #2867b2;
      }

      @include respond(tab-port) {
        &:not(:last-of-type) {
          margin-bottom: 0;
          margin-right: 2rem;
        }
      }
    }
  }
}

.container-right {
  grid-area: cont-right;
  background: black url('../assets/images/bg.jpg') center;
  background-size: cover;

  @include respond(tab-port) {
    display: none;
  }
}

.introduction {
  @include position($pos: absolute, $top: 50%, $left: 50%);
  transform: translate(-50%, -50%);
  border: 3px solid black;
  width: 70%;
  padding: 25rem 0;

  @include respond(tab-port) {
    padding: 10rem 0;
  }

  &::after {
    @include pseudo($content: '', $top: 0, $right: 0, $bottom: 0, $left: 0);
    border: 0.3rem solid #ffffff;
  }
}

.introduction-container {
  @include flex-config($display: flex, $direction: column, $align: center);
  text-transform: uppercase;
  margin-right: 25rem;

  @include respond(tab-port) {
    margin: 0;
  }
}

.icons {
  @include position($pos: absolute, $bottom: 2rem);
  @include flex-config($display: flex, $justify: space-around);
  width: 75vw;

  @include respond(tab-port) {
    width: 100vw;
  }

  &__icon {
    font-size: 5rem;
    opacity: 0.2;

    &--html {
      color: #ff4500;
    }

    &--css {
      color: #0000ff;
    }

    &--js {
      color: #f0db4f;
    }

    &--vue {
      color: #008000;
    }
  }
}
