@use 'abstracts' as *;

.section-contact {
  @include flex-config($justify: center, $align: center);
  position: relative;
  min-height: 70vh;
  padding-bottom: 20rem;

  margin-top: var(--section-spacing);

  @include respond(phone) {
    flex-direction: column-reverse;
    padding-bottom: 5rem;
  }
}

.contact-info {
  @include flex-config($justify: space-around, $align: center);
  width: 70%;

  &::before {
    @include pseudo($top: 15%, $left: 5%);
    width: 25%;
    border-top-width: 9px;
    border-top-style: solid;
    border-image: var(--pseudo-el-gradient-right);
  }

  @include respond(phone) {
    width: 90%;
    margin: 5rem 0;
    padding-bottom: 20rem;
  }

  &__icon {
    font-size: clamp(2rem, 2vw, 6rem);
    cursor: pointer;
    padding: 2rem;
    background-color: var(--foreground);
    color: var(--social-icons);
    border-radius: 20%;
    visibility: hidden;

    @include respond(phone) {
      padding: 1.5rem;
    }
  }
}

.contact-info-img {
  width: 30%;
  visibility: hidden;

  @include respond(phone) {
    width: 50%;
    margin-top: 18rem;
  }
}
