@use 'abstracts' as *;

.section-contact {
  margin-top: var(--section-spacing);
  padding-bottom: 20rem;
}

.contact-info {
  @include flex-config($justify: space-around, $align: center);
  width: 100%;

  @include respond(phone) {
    flex-direction: column-reverse;
    padding-bottom: 5rem;
  }

  .contact-info-icons {
    @include flex-config($justify: space-between);
    position: relative;
    width: 50%;

    @include respond(phone) {
      width: 100%;
      margin-top: 10rem;
    }

    &::before {
      @include pseudo($top: -100%, $left: 0);
      width: 50%;
      border-top-width: 9px;
      border-top-style: solid;
      border-image: var(--pseudo-el-gradient-right);
    }

    &__icon {
      font-size: clamp(2rem, 2vw, 6rem);
      cursor: pointer;
      padding: 2rem;
      background-color: var(--foreground);
      color: var(--social-icons);
      border-radius: 20%;
      visibility: hidden;

      @include respond(phone) {
        padding: 1.5rem;
      }
    }
  }
}

.contact-info-img {
  width: 30%;
  visibility: hidden;

  @include respond(phone) {
    width: 50%;
  }
}
