@use 'abstracts' as *;
@use 'utilities' as *;

body {
  min-height: 100vh;
}

.projects-main {
  @include flex-config($justify: space-around, $align: center);
  padding: 0 0 32rem 0;

  @include respond(tab-land) {
    flex-direction: column;
  }
}
