@use 'abstracts' as *;
@use 'utilities' as *;

.section-swipers {
  margin-top: var(--section-spacing);
  padding-bottom: 30rem;
}

.swipers-container {
  @include flex-config($justify: space-around, $align: center);
  position: relative;

  padding: 10rem 0;

  @include respond(tab-land) {
    flex-direction: column;
  }

  &__heading {
    @include position($pos: absolute, $top: -6rem);
    width: 100%;
    font-size: clamp(1.6rem, 1vw, 3rem);
    text-align: center;
    padding: 2rem 0;
  }
}
