@use 'abstracts' as *;

.container-welcome {
  padding: 0 1.5rem;
  max-width: 62.5rem;
  margin: 0 auto;

  @include respond(big-desktop) {
    max-width: 90rem;
  }
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  background-color: red;

  @include respond(xxl) {
    max-width: 1920px;
  }

  @include respond(tab-land) {
    max-width: 900px;
  }

  @include respond(tab-port) {
    max-width: 600px;
    padding: 0;
  }

  @include respond(phone) {
    padding: 0 1rem;
  }
}
