@use 'abstracts' as *;

body {
  font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

.heading-primary {
  @include textUppercaseSpacing($letterSpacing: 2rem);
  @include headings;
  font-size: var(--fs-primary-heading);
  margin: var(--heading-spacing) 0;
}

.heading-secondary {
  @include textUppercaseSpacing($letterSpacing: 1rem);
  @include headings;
  font-size: var(--fs-secondary-heading);
  margin: var(--heading-spacing) 0;
}

.welcome-section {
  &__heading-primary {
    font-size: clamp(2.5rem, 2vw + 1rem, 7rem);
    filter: drop-shadow(0.4rem 0.3rem 0.6rem rgb(184, 183, 183));
  }

  &__heading-secondary {
    font-size: clamp(1.8rem, 1vw, 4rem);
    margin-bottom: 0.5rem;
    letter-spacing: 0.5rem;
  }
}
