//Flexbox - Mixin
//-------------------------------------------------------------------

@mixin flex-config(
  $display: false,
  $wrap: false,
  $direction: false,
  $justify: false,
  $align: false
) {
  @if $display != false {
    display: $display;
  }

  @if $wrap !=false {
    flex-wrap: $wrap;
  }

  @if $justify != false {
    justify-content: $justify;
  }

  @if $direction != false {
    flex-direction: $direction;
  }

  @if $align != false {
    align-items: $align;
  }
}

//-------------------------------------------------------------------//

//Position - Mixin
//-------------------------------------------------------------------//
@mixin position(
  $pos,
  $top: false,
  $right: false,
  $bottom: false,
  $left: false
) {
  position: $pos;

  @if $top != false {
    top: $top;
  }

  @if $right != false {
    right: $right;
  }

  @if $bottom != false {
    bottom: $bottom;
  }

  @if $left !=false {
    left: $left;
  }
}

//-------------------------------------------------------------------//

//Pseudo elements - Mixin
//-------------------------------------------------------------------//
@mixin pseudo(
  $content: '',
  $position: absolute,
  $top: false,
  $right: false,
  $bottom: false,
  $left: false
) {
  content: $content;
  position: $position;

  @if $top != false {
    top: $top;
  }

  @if $right !=false {
    right: $right;
  }

  @if $bottom != false {
    bottom: $bottom;
  }

  @if $left != false {
    left: $left;
  }
}

//-------------------------------------------------------------------//

//Text transfor letter spacing - Mixin
//-------------------------------------------------------------------

@mixin textUppercaseSpacing($textTransform: uppercase, $letterSpacing) {
  text-transform: $textTransform;
  letter-spacing: $letterSpacing;
}

//-------------------------------------------------------------------//

//Color mixin for icons
//-------------------------------------------------------------------

@mixin icons() {
  &--html {
    color: #ff4500;
  }

  &--css {
    color: #0000ff;
  }

  &--js {
    color: #f0db4f;
  }

  &--vue {
    color: #008000;
  }

  &--typescript {
    color: #0000ff;
  }

  &--nuxt {
    color: #009100;
  }

  &--sass {
    color: #ffc0cb;
  }

  &--tools {
    color: rgb(5, 130, 161);
  }

  &--mobile {
    color: orange;
  }

  &--code {
    color: #800080;
  }

  &--bem {
    color: #808080;
  }

  &--tailwind {
    color: #04be04;
  }

  &--figma {
    color: #ff4500;
  }

  &--bootstrap {
    color: #0000ff;
  }
}

//-------------------------------------------------------------------//

// MEDIA QUERY MANAGER
/*
0-300px       Fold
0-600px:      Phone
600-900px:    Tablet: Portrait
900-1200px:   Tablet Landscape
[1200-1800px] Is where the normal styles apply
1800px + :    Big Desktop
$breakpoint argument choices
- fold
- phone
- tab-port
- tab-land
- big-desktop
1 em = 16 px;
600px/16px = 37.5em;
*/

@mixin respond($breakpoint) {
  @if $breakpoint == fold {
    @media (max-width: 18.75em) {
      //900px
      @content;
    }
  }

  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      //650px
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      //900px
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      //1200px
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      //1800px
      @content;
    }
  }
}
